/* solution styles */
* {
  box-sizing: border-box;
}

title {
  font-family: "Papyrus", fantasy;
  /*font-size: 14px;*/
}

h1 {
  font-size: 150%;
  margin: 30px 0;
  text-align: center;
}

p {
  border: 1px solid black;
  background-color: #B3C7F7;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Papyrus;
  color: black;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  padding: 0 10px;
}

/* Desktop View */
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: left;
    border: 1px solid black
    ;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
    border: 1px solid black;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  
}

/* Mobile View */
@media (min-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
    border: 1px solid black;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  
}
