/* solution styles */
<style>
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Rockwell", fantasy;
  font-size: 175%;
  margin: 30px 0;
  text-align: center;
}

#first {
border: 2px solid black;
background-color: #D9E4FF;
position: relative;
margin: 8px;
padding-top: 40px;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
overflow-wrap: anywhere;
font-family: "Rockwell";
font-weight: normal;
font-size: 100%;
text-align: left;
}

#first #second {
border: 1px solid black;
background-color: #8BABF1; 
position: absolute;
top: 0px;
right: 0px;
padding: 5px;
overflow-wrap: anywhere;
font-family: "Rockwell";
font-size: 125%;
font-weight: bold;
font-size-adjust: relative;
color: black;
text-align: center;
}

#third {
border: 2px solid black;
background-color: #D9E4FF;
position: relative;
margin: 8px;
padding-top: 40px;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
overflow-wrap: anywhere;
font-family: "Rockwell";
font-weight: normal;
font-size: 100%;
text-align: left;
}

#third #fourth{
border: 1px solid black;
background-color: #8B95F6; 
position: absolute;
top: 0px;
right: 0px;
padding: 5px;
overflow-wrap: anywhere;
font-family: "Rockwell";
font-size: 125%;
font-weight: bold;
font-size-adjust: relative;
color: black;
text-align: center;
}

#fifth {
border: 2px solid black;
background-color: #D9E4FF;
position: relative;
margin: 8px;
padding-top: 40px;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
overflow-wrap: anywhere;
font-family: "Rockwell";
font-weight: normal;
font-size: 100%;
text-align: left;
}

#fifth #sixth{
border: 1px solid black;
background-color: #9B8BF4;  
position: absolute;
top: 0px;
right: 0px;
padding: 5px;
font-family: "Rockwell";
font-size: 125%;
font-weight: bold;
font-size-adjust: relative;
color: black;
text-align: center;
}


/* Desktop: Layout - three columns */
  .column {
  float: left;
  width: 33.33%;
  }
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Tablet: Responsive Layout - two columns */
@media screen and (max-width: 991px) {
  .column {
    width: 50%;
  }
}

/* Mobile: Responsive Layout - one column stack */
@media screen and (max-width: 767px) {
  .column {
    width: 100%;
  }
}

</style>